@font-face {
    font-family: 'Aeonik';
    src:
        local('Aeonik'), local('Aeonik Regular'),
        url("@/public/fonts/Aeonik/Aeonik-Woff/Aeonik-Regular-Web/Aeonik-Regular.woff2"),
        url("@/public/fonts/Aeonik/Aeonik-Regular.otf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik';
    src:
        local('Aeonik'), local('Aeonik Medium'),
        url("@/public/fonts/Aeonik/Aeonik-Woff/Aeonik-Medium-Web/Aeonik-Medium.woff2"),
        url("@/public/fonts/Aeonik/Aeonik-Medium.otf");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

