.line-clamp {
    --line-clamp: 1;

    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, none);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.backdrop {
    position: fixed;
    z-index: var(--backdrop-z-index);
    inset: 0;
    background-color: rgba(35, 35, 35, 0.2);
    animation: backdrop-appear .25s linear;
}

@keyframes backdrop-appear {
    from { opacity: 0 }
    to { opacity: 1 }
}
